.checkoutProduct {
  display: flex;
  padding: 1rem 0.5rem;
}

.checkoutProduct__info {
  margin-left: 1.25rem;
}

.checkoutProduct__image {
  height: 11.25rem;
  width: 11.25rem;
  min-width: 11.25rem;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.checkoutProduct__image:hover {
  transform: scale(1.05);
}

.checkoutProduct__title {
  font-size: 1.06rem;
  font-weight: 700;
}

.checkoutProduct__price {
  margin-top: 0.2rem;
}

.checkoutProduct__rating {
  margin-top: 0.25rem;
  display: flex;
}

.checkoutProduct__button {
  margin-top: 0.6rem;
  padding: 0.2rem 0.35rem;
  background-color:rgb(240, 193, 75)
}
